In [2]:
import pandas as pd

In [11]:
tp = pd.read_csv("dataset/battle_fin.csv")

tp.head()

,id,player1_id,player2_id,winner_id,battle_date,battle_datetime,battle_timestamp
0,0,61,49,61.0,2024-10-03,2024-10-03 17:35:25,1727976925
1,1,71,23,23.0,2024-10-19,2024-10-19 13:41:56,1729345316
2,2,59,85,59.0,2024-10-18,2024-10-18 19:21:58,1729279318
3,3,73,65,65.0,2024-10-04,2024-10-04 18:04:58,1728065098
4,4,53,65,65.0,2024-10-29,2024-10-29 16:53:23,1730220803

In [12]:
tp['id'] = tp['id'] + 1

tp

,id,player1_id,player2_id,winner_id,battle_date,battle_datetime,battle_timestamp
0,1,61,49,61.0,2024-10-03,2024-10-03 17:35:25,1727976925
1,2,71,23,23.0,2024-10-19,2024-10-19 13:41:56,1729345316
2,3,59,85,59.0,2024-10-18,2024-10-18 19:21:58,1729279318
3,4,73,65,65.0,2024-10-04,2024-10-04 18:04:58,1728065098
4,5,53,65,65.0,2024-10-29,2024-10-29 16:53:23,1730220803
...,...,...,...,...,...,...,...
495,496,44,66,66.0,2024-10-10,2024-10-10 02:11:14,1728526274
496,497,15,37,37.0,2024-10-14,2024-10-14 00:20:20,1728865220
497,498,11,54,54.0,2024-10-08,2024-10-08 17:13:10,1728407590
498,499,2,36,2.0,2024-10-14,2024-10-14 20:45:58,1728938758
499,500,29,69,29.0,2024-10-13,2024-10-13 20:37:46,1728851866

In [13]:
tp['winner_id'] = tp['winner_id'].str.replace()

tp

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [5]:
import pandas as pd
import random
from datetime import datetime, timedelta

# 시작 날짜와 끝 날짜 지정
start_date = datetime(2024, 10, 1)
end_date = datetime(2024, 10, 31)

# 지정된 기간 내에서 랜덤 날짜 생성
def random_date(start, end):
    return start + timedelta(seconds=random.randint(0, int((end - start).total_seconds())))

# 랜덤 row를 생성하는 함수
def generate_random_row(start, end):
    rand_datetime = random_date(start, end)  # 랜덤 datetime 생성
    rand_date = rand_datetime.date()         # date 추출
    rand_timestamp = int(rand_datetime.timestamp())  # unix timestamp로 변환
    return [rand_date, rand_datetime, rand_timestamp]

# 지정된 수만큼 랜덤 row를 생성하여 DataFrame 반환
def generate_random_dataframe(n, start, end):
    rows = [generate_random_row(start, end) for _ in range(n)]
    df = pd.DataFrame(rows, columns=['date', 'datetime', 'unix timestamp'])
    return df

# 예시: 10개의 랜덤 row 생성
df = generate_random_dataframe(10, start_date, end_date)

# DataFrame 출력
print(df)

         date            datetime  unix timestamp
0  2024-10-03 2024-10-03 18:52:44      1727949164
1  2024-10-19 2024-10-19 03:56:10      1729277770
2  2024-10-03 2024-10-03 15:06:40      1727935600
3  2024-10-16 2024-10-16 16:30:07      1729063807
4  2024-10-23 2024-10-23 10:47:14      1729648034
5  2024-10-13 2024-10-13 19:55:29      1728816929
6  2024-10-21 2024-10-21 17:59:01      1729501141
7  2024-10-03 2024-10-03 10:08:57      1727917737
8  2024-10-03 2024-10-03 06:35:01      1727904901
9  2024-10-24 2024-10-24 02:55:20      1729706120